
*{
    text-decoration:none;
   /* background-image: url("./images/colorfulhills.jpg");*/
}
body{
    background-image: url("./images/colorfulhills.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100%;

}
span{
    color: crimson;
}
.navbar{
background-color:; backdrop-filter: blur(35px); font-family:; padding-right:35px; padding-left: 15px; 

}
.navdiv{
display:flex; align-items:center; justify-content:space-between; 
}
.navlogo {
 
}
.navlogo a{
  font-size:40px; font-weight:600; color:#fff; 
}
li{
    list-style: none; display: inline-block;
}
li a{
    color:crimson; font-size:20px; font-weight:bold; margin-right: 30px;
    
}
li a:hover{
    /*background-color:pink;*/  color:white; 
}
button a:hover{
    background-color:crimson; background-size: 30px;
}
button{
    background-color:yellow; margin-left:10px; border-radius: 8px;
    font-weight: bold; font-size: 16px; height: 30px; width: 85px;
}

/* nav section completed */
.image{

}
.image img {
    border-radius: 50%;
    border-style: double;
    border-color: #fff;
    display: inline-block;
    float: right;
    padding-top: 40px;
     margin-right: 130px;
}
article{
    align-items: left;
    margin: 50px;
    padding-top: 50px;
}
.para{
    font-size: 40px;
    text-align: center;
    color:crimson;
}
.intro{
    text-align: justify;
    font-size: 26px;
    padding-top: 8px; /* hello ki para madhya space */
    width: 55%;
}